:root {
    --nav-height: 25vh; /* Define your actual nav height */
}

.default-header-1 {
    font-size: 48px;
    font-weight: bold;
    padding-top: 10px;
}

.default-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.default-form input {
    padding: 10px 50px;
    text-align: center;
    width: 50%;
    font-size: large;
}

.default-form label {
    font-size: x-large;
    font-weight : bold;
    text-align: center;
    width: 100%;
}

.default-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    max-height: 50vh;
    gap: 20px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

.results-container {
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    font-size: 18px;
    font-family: "Georgia", serif;
}


