.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00124d;
    border-bottom: 1px solid #ddd;
    min-height: 100px;
    position:relative;
}

.nav-main {
    max-height: var(--nav-height);
}

.nav-button {
    display: inline-block;
    background-color:  #01165a;
    text-align: center;
    color: white;
    font-size: x-large;
    font-weight: bold;
    flex:1;
    padding: 10px;
    min-width: 100px;
    text-decoration: none;
    cursor:pointer;
}

.nav-links {
    width : 100%;
    height: 100%;
    display : flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    max-height: 100%;
    height: auto;
    max-width: 30vw;
}

.nav .icon {
    display: none;
    color: white;
}

@media (max-width: 1000px) {
    .nav-links a {display: none;}
    .nav a.icon {
    display: block;
    position: absolute;
    left: 8px;
    top: 50%;
    font-size: 50px;
    transform: translateY(-50%);
    }

    .nav-links.responsive {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction : column;
    align-items: flex-start;
    }

    .nav.responsive a.icon {
    display: block;
    left: 8px;
    position: absolute;
    top: 50%;
    font-size: 50px;

    }
    .nav-links.responsive a.nav-button {
    float: none;
    display: block;
    text-align: center;
    width:100%;
    }
  }