#review-container {
    text-align:center;
}

.default-header-1 {
    padding-bottom: 20px;
}

label {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

input[type="number"] {
  width: 45px;
  height: 25px;
  font-size: 18px;
  text-align: center;
}

.review-box-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}
